@tailwind base;
@tailwind components;
@tailwind utilities;

#__next-build-watcher {
    display: none;
  }

.animated-text {
  background: linear-gradient(
    to right,
    #ff0000,
    #00ff00,
    #0000ff,
    #ff0000,
    #00ff00,
    #0000ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow 6s linear infinite;
  background-size: 400% 100%;
}

@keyframes rainbow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0;
  }
}

.animated-border {
    position: relative;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #ffffff;
    animation: borderColorAnimation 8s linear infinite;
    text-shadow: 
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.3),
        0 0 30px rgba(255, 255, 255, 0.2);
}

@keyframes borderColorAnimation {
    0% {
        -webkit-text-stroke-color: #ffffff;
        text-shadow: 
            0 0 10px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.3),
            0 0 30px rgba(255, 255, 255, 0.2);
    }
    33% {
        -webkit-text-stroke-color: #9ca3af;
        text-shadow: 
            0 0 10px rgba(156, 163, 175, 0.5),
            0 0 20px rgba(156, 163, 175, 0.3),
            0 0 30px rgba(156, 163, 175, 0.2);
    }
    66% {
        -webkit-text-stroke-color: #111827;
        text-shadow: 
            0 0 10px rgba(17, 24, 39, 0.5),
            0 0 20px rgba(17, 24, 39, 0.3),
            0 0 30px rgba(17, 24, 39, 0.2);
    }
    100% {
        -webkit-text-stroke-color: #ffffff;
        text-shadow: 
            0 0 10px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.3),
            0 0 30px rgba(255, 255, 255, 0.2);
    }
}